<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="messages">
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}">Success</div>
    <div class="alert alert-error" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    <div class="alert alert-error" th:if="${conflictMessage}" th:text="${conflictMessage}">Conflict</div>
    <div class="alert alert-info" th:if="${infoMessage}" th:text="${infoMessage}">Info</div>
</div>
</body>
</html>
